<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="BCNC">
    <listeners>
<!--        <listener class-name="com.test.bcnc."/>-->
    </listeners>

    <test name="prices" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="priceRepository"/>
            </run>
        </groups>
        <classes>
<!--            <class name=""/>-->
        </classes>
    </test>
</suite>
