<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="BCNC">
    <listeners>
        <listener class-name="com.test.bcnc.TestListener"/>
    </listeners>

    <test name="prices" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="mapperTests"/>
                <include name="priceRepository"/>
                <include name="priceServices"/>
            </run>
        </groups>
        <classes>
            <class name="com.test.bcnc.infrastructure.price.persistence.mapper.PriceDTOMapperTest"/>
            <class name="com.test.bcnc.infrastructure.price.persistence.PriceRepositoryTests"/>
            <class name="com.test.bcnc.infrastructure.price.rest.PriceRequestedExampleTests"/>
            <class name="com.test.bcnc.infrastructure.price.rest.PriceControllerTests"/>
        </classes>
    </test>
</suite>
